body {
    background-color: antiquewhite;
}

.navBarStyle {
    background-color: black;
    color: antiquewhite;
}

.icon-style {
    height: 5vh;
    width: auto;
}

ul {
    list-style-type: none;
}

.index-image {
    width: 75%;
    height: auto;
    border-radius: 50%;
}