<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>My Blog Posts</title>
</head>
<body>
    <div class="container text-center m-5">
        <div class="row">
        <div class="col order-sm-2">
            <img class="index-image" src="note-image.jpg" alt="notebook with tiny wite flowers">
            
        </div>
        <div class="col order-sm-1">
            <h1 class="container mb-4">Sara's Blog Posts</h1>
            <ul><!--so here there should be some dynamic code, a loop to loop through text files and show them as pages?-->
                <!--figure out how to do that with the ones we have first, then figure out how add new text files, and how to do a /GET for each of those-->
                <li><a href="/sample-post1" class="nav-link px-2 mb-1">Sample Post 1</a></li>
                <li><a href="/sample-post2" class="nav-link px-2 mb-1">Sample Post 2</a></li>
                <li><a href="/sample-post3" class="nav-link px-2 mb-1">Sample Post 3</a></li>
            </ul>
        </div>
    </div>
</div>
    

    
</body>
</html>

<%- include ("partials/footer.ejs") %>