<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>My Blog Posts</title>
</head>
<body>
    <div class = "container m-5">
        <h1>Sample Post 1</h1>
        <p>Lorem ipsum dolor sit amet, iudico causae reprehendunt ad duo. Vivendo constituto ut usu. Sed erat simul fabellas ex. Ut tamquam philosophia usu, duo iisque conceptam theophrastus an, commodo albucius facilisi ne has. Ut his minim volumus temporibus.

            Eu cum modo dolores, vel viris fuisset dignissim et. Eu mel prompta vocibus, et alia falli homero per. Reque vituperatoribus an eos, primis intellegam nam ex. In mea dolore impedit, brute convenire euripidis nec ei.
            
            Ad vim solum alterum, quis quodsi inermis usu an. Atqui etiam per et. Pri ut vidit everti, an nobis tation mea, in brute option perpetua eam. Eum dolorem nominati ne.
            
            Tollit aperiri an quo, nam an qualisque disputando. Mel diam vivendo volumus eu. Ad qui utinam putant gloriatur, usu suas commodo ad, sed tota ipsum eu. Sea et quidam nostro scripta. Blandit dissentiet ea mel, ei duo mutat reprehendunt.
            
            Ex ferri augue dignissim ius. Id eligendi theophrastus sea. Splendide forensibus est ad. Eirmod vidisse pri ut, mea cu doming feugait consulatu. His ne utamur detraxit quaestio.</p>
    </div>
    
    

    
</body>
</html>

<%- include ("partials/footer.ejs") %>